%html
  %head
    %title Score your cards
  %body
    %h2 Your occupation: #{@player.occupation}
    %h2 Your Cards
    %ul
      - @player.deck.cards.each do |card|
        %li #{card.name} #{card.value} (#{card.type.to_s})

    %h2 Your Score
    %table
      %tr
        %td Resource Score: 
        %td#resource_score #{@player.resource_score}
      %tr 
        %td Modified Land Values: 
        %td#land_score #{@player.land_score}
      %tr 
        %td Tools: 
        %td#tool_score #{@player.tool_score}
      %tr 
        %td Beasts of Burden: 
        %td#beast_score #{@player.beast_score}
      %tr 
        %td Bonus Items: 
        %td#bonus_score #{@player.bonus_score}
      %tr
        %td
          %strong Total: 
        %td#total_score #{@player.total_score}
